In [113]:
import pandas as pd
import numpy as np

In [121]:
df = pd.read_csv("math_students.csv", sep=",")

In [123]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [88]:
df.reset_index(drop=True, inplace=True)
df["student_num"] = df.index + 1

In [90]:
df.columns

Index(['school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3', 'student_num'], dtype='object')

In [131]:
df_even_num = df[df["student_num"] % 2 == 0]
print(df_even_num.head(), "\n")

KeyError: 'student_num'

In [95]:
df_absences = df[df["absences"] % 2 == 0]
print(df_absences.head(), "\n")

KeyError: 'absences'

In [157]:
mean_absences = df["absences"].mean()
mean_absences

5.708860759493671

In [159]:
df["high_absences"] = np.where(df["absences"] > mean_absences, 1, 0)

In [161]:
ga = df.groupby("high_absences")["G3"].mean()

In [163]:
ga

high_absences
0    10.168675
1    10.835616
Name: G3, dtype: float64

In [105]:
corr_a = df["absences"].corr(df["G3"])

KeyError: 'absences'

In [107]:
corr_a

NameError: name 'corr_a' is not defined

In [109]:
#гипотеза о том, что больше пропусков отрицательно влияет на успеваемость, имеет подтверждение в наших данных.

In [165]:
if "studytime" in df.columns:
    studytime_group = df.groupby("studytime")["G3"].mean()
    print(studytime_group, "\n")

if "sex" in df.columns:
    sex_group = df.groupby("sex")["G3"].mean()
    print(sex_group, "\n")

if "internet" in df.columns and "sex" in df.columns:
    combo_group = df.groupby(["sex","internet"])["G3"].mean()
    print(combo_group, "\n")

studytime
1    10.047619
2    10.171717
3    11.400000
4    11.259259
Name: G3, dtype: float64

sex
F     9.966346
M    10.914439
Name: G3, dtype: float64

sex  internet
F    no           9.184211
     yes         10.141176
M    no           9.714286
     yes         11.125786
Name: G3, dtype: float64